@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Questrial&display=swap');
@import url('https://db.onlinewebfonts.com/c/3a0686ce5acec7b228f4580a02d0be41?family=VremenaGrotesk');

:root{
   --bs-font-monospace: "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", monospace;--bs-body-font-family: 'VremenaGrotesk', sans-serif;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
   font-family: var(--bs-body-font-family);
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  overflow-x: hidden
}
html{
  overflow-x: hidden
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.mar-r-5{
  margin-right: 5px;
}

.mar-reset{
  margin: 0px
}

/* .row>*{
   padding-left: 0;
   padding-right: 0;
} */

/* Header bar */

.headerbar-options .dropdown-menu {
   padding: 1rem;
   border: none;
   border-radius: 0;
   box-shadow: 0 0 10px rgb(205, 205, 205);
   transform: translateX(-80px);
}

.headerbar-options .dropdown-item{
   margin:.5rem 0;
   background-color: #fff;
   color: #999999;
}

/* NavBar */

.top-5{
   top: 5rem !important;
}

.drop-home {
   position: absolute;
   top: 100%;
   width: 13.1rem;
   opacity: 0;
   visibility: hidden;
   transform: translateY(20px) translateX(70px);
   transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

.drop-home.show {
   opacity: 1;
   visibility: visible;
   transform: translateY(0) translateX(70px);
}

.drop-home.hide {
   opacity: 0;
   visibility: hidden;
   transform: translateY(20px) translateX(70px);
}

.drop-shop {
   position: absolute;
   top: 100%;
   width: 55rem;
   opacity: 0;
   visibility: hidden;
   transform: translateY(20px) translateX(400px);
   transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

.drop-shop.show {
   opacity: 1;
   visibility: visible;
   transform: translateY(0) translateX(400px);
}

.drop-shop.hide {
   opacity: 0;
   visibility: hidden;
   transform: translateY(20px) translateX(400px);
}

.drop-product {
   position: absolute;
   top: 100%;
   width: 35rem;
   opacity: 0;
   visibility: hidden;
   transform: translateY(20px) translateX(210px);
   transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

.drop-product.show {
   opacity: 1;
   visibility: visible;
   transform: translateY(0) translateX(210px);
}

.drop-product.hide {
   opacity: 0;
   visibility: hidden;
   transform: translateY(20px) translateX(210px);
}

.drop-icons {
   position: absolute;
   top: 100%;
   width: 45rem;
   opacity: 0;
   visibility: hidden;
   transform: translateY(20px) translateX(310px);
   transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

.drop-icons.show {
   opacity: 1;
   visibility: visible;
   transform: translateY(0) translateX(310px);
}

.drop-icons.hide {
   opacity: 0;
   visibility: hidden;
   transform: translateY(20px) translateX(310px);
}

.icon-style{
   color: black;
   width: 50px;
   height: 60px;
   margin-bottom: 5px;
}

.drop-pages {
   position: absolute;
   top: 100%;
   width: 75rem;
   opacity: 0;
   visibility: hidden;
   transform: translateY(20px) translateX(104px);
   transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

.drop-pages.show {
   opacity: 1;
   visibility: visible;
   transform: translateY(0) translateX(104px);
}

.drop-pages.hide {
   opacity: 0;
   visibility: hidden;
   transform: translateY(20px) translateX(104px);
}

.drop-docs {
   position: absolute;
   top: 100%;
   width: 10rem;
   opacity: 0;
   visibility: hidden;
   transform: translateY(20px) translateX(50px);
   transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

.drop-docs.show {
   opacity: 1;
   visibility: visible;
   transform: translateY(0) translateX(50px);
}

.drop-docs.hide {
   opacity: 0;
   visibility: hidden;
   transform: translateY(20px) translateX(50px);
}




.option{
   text-decoration: none;
   color:#999999;
   font-weight: 500;
}

.option-color:hover{
   color: black;
}

.icon-select{
   text-decoration: none;
   color: black;
   font-weight: 500;
}

.icon-select:hover{
   text-decoration: underline;
}

.padd-0{
   padding-right: 0 !important;
   padding-left: 0 !important;
}

/* HeroCarousel */

.carousel-image{
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  height: 37.5rem;
  width: 100%;
}

.first-slide{
  background-image: url("../public/images/home-1-plain.webp");
}

.second-slide{
  background-image: url("../public/images/home-2-plain.webp");
}

.third-slide{
  background-image: url("../public/images/home-3-plain.webp");
}

.carousel-control-prev,
.carousel-control-next{
  width: 10%;
  height: 10%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;
}

.slide-container{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100vw;
}

.slide-caption{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 5rem;
}

.slide-highlight{
  font-family: var(--bs-font-monospace);
  color: black;
  letter-spacing: .1rem;
  font-size: 1.2rem;
}

.slide-title{
  font-family: var(--bs-font-monospace);
  color: #212529;
  letter-spacing: .05rem;
  font-size: 4.5rem;
  text-align: start;
}

.slide-desc{
  font-size: 1rem;
  color: rgb(134,142,153);
  font-weight: 500;
  line-height: 1.6;
  text-align: start;
}

.slide-btn{
  padding: .5rem 1.2rem;
  border: 1px solid black;
  border-radius: 0;
  font-family: var(--bs-font-monospace);
  letter-spacing: .2rem;
  color: white;
  background-color: black;
  font-weight: 700;
}

.slide-btn:hover{
  background-color: rgb(33, 33, 33);
}

.custom-indicators {
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	position: absolute;
	bottom: 10px;
}

.dot {
	width: 6px;
	height: 6px;
	margin: 0 5px;
	background-color: rgb(187, 193, 200);
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}
  
.dot.medium {
	width: 8px;
	height: 8px;
	background-color: rgb(187, 193, 200);
}

.dot.large {
	width: 10px;
	height: 10px;
	background-color: rgb(192, 187, 177);
}

/* Catagory Section */

.image-container {
   position: relative;
   overflow: hidden;
   border-radius: .3rem;
   height: 100%;

 }
 
 .image-container img {
   width: 100%;
   height: 100%;
   transition: transform 0.3s ease, opacity 0.5s ease;
 }
 

 .image-container:hover img {
   transform: scale(1.05);
   opacity: 0.8;
 }
 

 .overlay-text {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: #fff;
   font-size: 4rem;
   font-weight: 900;
   opacity: 1;
   transition: opacity 0.5s ease;
   text-align: center;
 }
 
 .image-container:hover .overlay-text {
   opacity: 0.85;
 }
 

 /* NewArrivals Section */

 .new-arrivals-section {
   background-color: #ffffff;
   margin-bottom: 5rem;
 }
 
 .new-arrivals-section h2 {
   font-weight: 500;
   font-size: 3.8rem;
   padding-top: 7rem;
 }
 
 .new-arrivals-section p {
   line-height: 1.6;
   font-size: 1.25rem;
   color:#777777da;
   font-weight:500;
 }


 /* Product Section */

 .product-links{
   color: #868E96;
   font-size: 1rem;
   font-weight: 500;
   text-decoration: none;
 }

 .product-links:hover{
   text-decoration: underline;
 }

 .product-link-a{
   font-family: var(--bs-font-monospace);
   letter-spacing: .2rem;
   font-weight: 500;
   font-size: 1rem;
   text-decoration: none;
   color: #BCAC76;

 }

 .product-link-a:hover{
   color: #968A5E;
   text-decoration: underline;
 }

 .product-card {
   position: relative;
   overflow: hidden;
   border: none;
   margin-bottom: .8rem;
 }

 .card{
   border-radius: 0 !important;
 }
 
 .badge-label {
   position: absolute;
   top: 10px;
   left: 10px;
   color: #fff;
   padding: 5px 10px;
   font-size: 0.85rem;
   font-weight: 500;
   border-radius: 4px;
   z-index: 2;
 }

 .fresh{
   background-color: #877F64;
 }

 .sale{
   background-color: #BCAC76;
 }

 .sold-out{
   background-color: #212529;
 }

 .product-image {
   object-fit: cover;
   height: 17.5rem;
 }

 .product-price{
   font-family: var(--bs-font-monospace);
 }

 .hover-overlay {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   background: rgba(255, 255, 255, 0.95);
   opacity: 0;
   transform: translateY(100%);
   transition: all 0.4s ease;
   z-index: 3;
   display: flex;
   align-items: end;
   justify-content: center;
   font-weight: 500;
 }
 
 .hover-overlay.show {
   opacity: 1;
   transform: translateY(0);
 }

 .overlay-content {
   width: 100%;
   margin: .8rem .8rem;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   gap: 1rem;
 }

 .overlay-content .icon {
   font-size: 1.2rem;
   cursor: pointer;
 }

.product-link{
   text-decoration: none;
   height: 17.5rem;
   color: black;
}

 .product-cart{
   font-size: .9rem;
   font-weight: 500;
   color: black;
   text-decoration: none;
 }

 .product-cart:hover{
   text-decoration: underline;
 }


 .card-title{
   font-family: var(--bs-body-font-family);
   font-size: 1rem;
   font-weight: 600;
   text-decoration: none;
   letter-spacing: .5px;
 }

 .card-title:hover{
   text-decoration: underline;
 }

 .star-rating {
   display: flex;
   gap: 2px;
   font-size: .8rem;
   color: #BCAC76;
   opacity: 0;
   transform: translateY('5rem');
 }

 .star-rating.show{
   opacity: 1;
   transform: translateY(0);
   transition: all 0.4s ease-in;
 }
 

 /* CountdownSection */

 .deal-section {
   background-image: url("../public/images/deal-plain.webp");
   background-repeat: no-repeat;
   background-size:cover;
   background-position:center right;
   min-height: 37.5rem;
   max-height: 45rem;
   width: 100%;
   margin-top: 5rem;
 }

 .deal-section .deal-info{
   height: 30rem;
 }

 .deal-section p{
   font-family: var(--bs-font-monospace);
   letter-spacing: .25rem;
   font-weight:500;
   font-size: large;
 }
 
 .deal-title {
   font-size: 2.75rem;
   font-weight: 700;
   margin-bottom: 2rem;
   letter-spacing: .5px;
 }

 .deal-section .deal-price{
   font-family: var(--bs-font-monospace);
   color: #868EA0;
 }
 
 .deal-badge {
   font-family: var(--bs-font-monospace);
   font-size: .8rem;
   padding: 1rem 1.1rem;
   margin-right: 1rem;
 }


 
 .countdown-box {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   background-color: #ffffff;
   padding: 1.6rem 3rem;
   box-shadow: 0 0 15px rgb(205, 205, 205);
 }

 .countdown-item{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }
 
 .countdown-item h3 {
   font-size: 2rem;
   margin-bottom: 1rem;
   font-weight: 500;
 }
 
 .countdown-item span {
   display: block;
   font-size: 1rem;
   font-weight: 500;
   color: #888;
   letter-spacing: .04rem;
 }

 .deal-section .btn{
   padding: .5rem 1.2rem;
   border: 1px solid black;
   border-radius: 0;
   font-family: var(--bs-font-monospace);
   letter-spacing: .2rem;
   color: black;
   background-color: rgb(0,0,0,0);
   font-weight: 900;
 }

 .deal-section .btn:hover{
   background-color: black;
   color: white;
 }


 /* History Section */

 .history-section {
   background-color: #ffffff;
   padding: 5rem 0;
 }
 
 .section-title {
   font-size: 1.5rem;
   font-weight: 500;
   color: #BCAC76;
   letter-spacing: .25rem;
   text-transform: uppercase;
 }
 
 .history-section p {
   line-height: 1.6;
   font-size: 1.3rem;
   color:#777777da;
   font-weight: 500;
 }

 /* Brand Section */

 /* .dot {
   display: inline-block;
   border-radius: 50%;
   background-color: #ccc;
   transition: all 0.3s ease;
 } */
 
 /* .dot.small {
   width: 2px;
   height: 2px;
 }
 
 .dot.medium {
   width: 6px;
   height: 6px;
 }

 .dot.large {
   width: 12px;
   height: 12px;
   background-color: #666;
 }
  */

 /* FeatureSection */


 .features-section {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #F8F9FA;
   height: 17.5rem;
 }

 .features-section .feature-block{
   display: flex;
 }

 .features-section .feature-block div{
   margin-left: .8rem;
   display: flex;
   flex-direction: column;
   align-items: start;
 }
 
 .features-section h6 {
   font-size: .9rem;
   margin-bottom: 0.5rem;
   font-family: var(--bs-font-monospace);
 }
 
 .features-section p {
   margin-bottom: 0;
   font-size: 0.8rem;
   font-family: var(--bs-font-monospace);
   color: #868E96;
 }


 /* Footer */


 .footer {
   background-color: #fff;
   color: black;
 }
 
 .footer-title {
   font-size: 1.1rem;
   font-weight:bolder;
   margin-bottom: 1.8rem;
   font-family: var(--bs-font-monospace);
 }
 
 .footer-text {
   font-size: 1rem;
   color: rgb(134,142,153);
   font-weight: 500;
   line-height: 1.6;
 }
 
 .email-input {
   margin-top: 10px;
   border-bottom: 1px #CED4DA solid;
   transition: 1s ease;
 }

 .email-input:hover{
   border-bottom: 1px black solid;
   transition: 1s ease;
 }
 
 .email-input .form-control {
   border: none;
   font-weight: 500;
   border: none;
   border-radius: 0;
   background-color: rgb(240, 235, 223,0);
   outline: none;
 }

 .email-input .form-control::placeholder{
   font-family: var(--bs-body-font-family);
 }
 
 .email-input button{
   background-color: rgb(0,0,0,0);
   border: none;
   cursor: pointer;
 }

 .email-input .email-icon{
   height: 1.5rem;
   width: 1.5rem;
 }

 .email-input .email-icon path{
   stroke-width: 1px;
 }
 
 .footer-list {
   list-style: none;
   padding: 0;
 }
 
 .footer-list li {
   font-size: .875rem;
   color: rgb(134,142,153);
   font-weight: 500;
   margin-bottom: 1rem;
   cursor: pointer;
   transition: color 0.3s;
 }
 
 .footer-list li:hover {
   text-decoration: underline;
 }
 
 .footer-bottom {
   border: none;
   padding: 1.5rem 0;
   font-size: .875rem;
   text-align: center;
 }
 
 .footer-bottom span {
   margin: 0 4px;
   cursor: pointer;
   transition: color 0.3s;
 }
 

 .footer-bottom span:hover {
  text-decoration: underline;
 }

 .accordion-button{
   border-radius: 0 !important;
   background-color: white !important;
   box-shadow: none !important;
   padding: var(--bs-accordion-btn-padding-y) 0;
 }

 .accordion-body{
   padding: var(--bs-accordion-btn-padding-y) 0;
 }

 .accordion-item{
   border: none !important;
 }

 .footer-title-a{
   font-size: 1.1rem !important;
   font-weight: 500 !important;
   font-family: var(--bs-body-font-family);
   -webkit-text-stroke: .5px black;
 }
 
 .text-muted {
   color: #bbb !important;
 }

 @media(max-width: 575px){
  .w-xs{
    width: 92%;
    margin: 0 4%;
  }
  .flex-xs-column{
    flex-direction: column !important;
  }
  .d-xs-flex{
    display: flex;
  }
  .bg-section {
   background-size: 200%;
   background-position: center right;
   background-repeat: no-repeat;
   background-size:cover;
   background-position:center;
 }
 }

 @media(max-width: 768px){
   .product-collapse{
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
   }
  }

 @media(max-width: 992px){
   .collapse-icons{
      display: none;
   }
   .collapse-menu{
      margin-bottom: 1rem !important;
      margin-top: .5rem !important;
   }
   .collapse-menu-items{
      display: flex !important;
      justify-content: space-between !important;
      width: 100%;
   }
   .collapse-opacity{
      opacity: 1;
      z-index: 1000;
      background-color: #fff;
      margin: 2px !important;
   }
   .collapse-search{
      display: flex !important;
      justify-content: center !important;
      width: 100% !important;
      margin-bottom: 1rem !important;
      padding: 0 1rem;
   }
   .collapse-btn{
      position: relative !important;
      top: 0 !important;
      right: 0 !important;
   }
  }
 